<section class="vh-100 mt-5" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Admin Sign in</h3>
                       
                        {{#if adminLoginErr}}
                        <div class="alert alert-danger" role="alert">
                            {{adminLoginErr}}
                        </div>
                        {{/if}}
                        <form action="/admin/admin-login" method="post">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="typeEmailX-2">Email</label>
                                <input name="email" type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                    required>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typePasswordX-2">Password</label>
                                <input name="password" type="password" id="typePasswordX-2"
                                    class="form-control form-control-lg" required>

                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>