  <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/imgs/myImg/linkedin_banner_image_1.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/all-product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products, Offers & Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/all-product">Product List</a>
                        <a href="/api/admin/category">Categories</a>
                        <a href="/admin/banner-list">Banners</a>
                         <a href="/api/coupon">Coupons</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/all-order-details"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/all-order-details">Orders list</a>
                        {{!-- <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a> --}}
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/add-product">Add product </a>
                        
                        <a href="/admin/add-banner">Add banner </a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/api/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Management</span>
                    </a>
                    <div class="submenu">
                        <a href="/api/admin/users">Users list</a>
                    </div>
                </li>
                {{!-- <li class="menu-item">
                    <a class="menu-link" href=""> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> --}}
                {{!-- <li class="menu-item">
                    <a class="menu-link" href=""> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> --}}
                {{!-- <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> --}}
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>