<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card inner" style="width:30rem;">
                <img src="/product-images/{{id}}.jpg" id="main_image" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div>
                <button onclick="zoomIn()" type="button" class="btn btn-light btn-sm">+</button>
                <button onclick="zoomOut()" type="button" class="btn btn-light btn-sm">-</button>
            </div>
        </div>
    </div>
</div>
<style>
    .inner{
        overflow: hidden;
    }
</style>