<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Login</h3>
                                    </div>
                                    <form id="login-form" action="/login" method="post">
                                        <div class="form-group">
                                            <input id="username" type="text" required="" name="email"
                                                placeholder="Your Email">
                                        </div>
                                        <div class="form-group">
                                            <input id="password" required="" type="password" name="password"
                                                placeholder="Password">
                                        </div>
                                        <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox"
                                                        id="exampleCheckbox1" value="">
                                                    <label class="form-check-label"
                                                        for="exampleCheckbox1"><span>Remember me</span></label>
                                                </div>
                                            </div>
                                            <a class="text-muted" href="/otp-login">Forgot password?</a>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                name="login">Log in</button>
                                        </div>
                                    </form>
                                    <div class="text-muted text-center">Don't have account ?<a href="/signup">Sign up
                                            in now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $("#login-form").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: "/login",
                type: 'post',
                data: $('#login-form').serialize()
            }).done(res => {
                console.log('success')
                new swal("Successfull", `${res.message}`, "success").then(() => {
                    location.reload();
                })
            }).fail(err => {
                console.log('error')
                new swal("Error", `${err.responseJSON.message}`, "error").then(() => {
                    location.reload();
                })
            })
        })
    })
</script>