<section class="vh-100 mt-5" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>
                        {{#if signupStatus}}
                        <div class="alert alert-success" role="alert">
                            {{signupStatus}}
                        </div>
                        {{/if}}
                        {{#if loginErr}}
                        <div class="alert alert-danger" role="alert">
                            {{loginErr}}
                        </div>
                        {{/if}}
                        {{#if loginStatus}}
                        <div class="alert alert-danger" role="alert">
                            {{loginStatus}}
                        </div>
                        {{/if}}
                        <form action="/login" method="post">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="typeEmailX-2">Email</label>
                                <input name="email" type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                    required>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typePasswordX-2">Password</label>
                                <input name="password" type="password" id="typePasswordX-2"
                                    class="form-control form-control-lg" required>

                            </div>


                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-start mb-4">
                                <a style="text-transform: capitalize;" class="" href="/otp-login">forgotten
                                    password?</a>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </form>
                        <h3 style="margin-top: 20px;">OR</h3>


                        <a class="btn btn-lg btn-block btn-primary mb-2" href="/otp-login"
                            style="background-color: #3b5998;" type="submit">OTP Login</a>


                        <!-- Register buttons -->
                        <div class="mt-5 text-center">
                            <p>Not a member? <a href="/signup">Register</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>