<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Enter OTP</h3>
                                    </div>
                                    <form id="verify-otp" method="post">
                                        <div class="form-group">
                                            <input type="text" required="" name="otp" placeholder="Enter the OTP">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                name="login">Send OTP</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function(){
        $('#verify-otp').submit((e) =>{
            e.preventDefault();
            $.ajax({
                url : '/otp-verifying',
                type: 'post',
                data:  $('#verify-otp').serialize(),
            }).done((res) =>{
                new swal("Successfull", `${res.message}`, "success").then(() => {
                    location.reload();
                })
            }).fail((er) =>{
               new swal("Error", `${err.responseJSON.message}`, "error").then(() => {
                    location.reload();
                })
            })
        })
    })
</script>