<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">OTP Login</h3>
                                    </div>
                                    {{#if otpLoginErr}}
                                    <div class="alert alert-danger" role="alert">
                                        {{otpLoginErr}}
                                    </div>
                                    {{/if}}
                                    <form action="/otp-login" method="post">
                                        <div class="form-group">
                                            <input type="number" required="" name="mobile" placeholder="Enter the OTP">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                name="login">Send OTP</button>
                                        </div>
                                    </form>
                                    {{!-- <h3 style="margin-top: 20px;">OR</h3>


                                    <a class="btn btn-lg btn-block btn-primary mb-2" href="/otp-login"
                                        style="background-color: #3b5998;" type="submit">OTP Login</a> --}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>