<section class="vh-100 bg-image mt-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              {{#if signupErr}}
              <div class="alert alert-danger" role="alert">
                {{signupErr}}
              </div>
              {{/if}}
              <form action="/signup" method="post">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input name="name" type="text" id="form3Example1cg" class="form-control form-control-lg" required />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Mobile.No</label>
                  <input name="mobile" type="text" id="form3Example1cg" class="form-control form-control-lg" required />
                  
                </div>

                <div class="form-outline mb-4">
                   <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input name="email" type="email" id="form3Example3cg" class="form-control form-control-lg" required />
                 
                </div>

                <div class="form-outline mb-4">
                   <label class="form-label" for="form3Example4cg">Password</label>
                  <input name="password" type="password" id="form3Example4cg" class="form-control form-control-lg"
                    required />
                 
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input name="re_password" type="password" id="form3Example4cdg" class="form-control form-control-lg"
                    required />
                  
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>